<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOyoWm2wkRcnQcZOF6O0tmLRcxgWowms8</string>
	<key>GCM_SENDER_ID</key>
	<string>180007109812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pratikPortfolio</string>
	<key>PROJECT_ID</key>
	<string>pratikgtam-portfolio</string>
	<key>STORAGE_BUCKET</key>
	<string>pratikgtam-portfolio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180007109812:ios:883c8fca59480514e8c3e1</string>
</dict>
</plist>